* {
    box-sizing: border-box;
}



$serif: 'Merriweather', serif;

@import "colors";
$monospace: 'Inconsolata', courier, monospace;
$sans-serif: 'Montserrat', sans-serif;

input {
    border: transparent;
    background: #ddd;
    padding: 10px;
    font-family: inherit;
    outline: none;
}

@mixin mobile {
    @media only screen
    and (max-width: 767px) {
        @content;
    }
}

@mixin header-menu-breakpoint {
    @media only screen
    and (max-width: 520px) {
        @content;
    }
}
