$slider-color: $map-color-dark;

.vue-slider {

    .vue-slider-rail {
        border-radius: 0;
        height: 2px;
        pointer-events: all;
        background: #fff;

        .vue-slider-process {
            background: $slider-color;
        }

        .vue-slider-dot-handle {
            background: $map-color-super-dark;
            box-shadow: none;
            pointer-events: all;
            border: 2px solid $map-color;
        }

        .vue-slider-dot-tooltip {

            .vue-slider-dot-tooltip-inner {
                background: $map-color-super-dark;
                font-size: 11px;
                padding: 4px 8px;

                &:after {
                    border-top-color: $slider-color;
                }
            }
        }
    }
}